__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*__pycache__/
*.egg-info/
.installed.cfg
*.egg
.idea
exp/
.vscode/
venv/
env/
speakers/
*dataset
*backup*
demo_results.json
voice_cache.json
open_source_demo_infer_input.json
.ossutilconfig
.qoder/
assets/
index.html
